# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
env/
.env/
.venv/

# Distribution / packaging
.eggs/
.dist-info/
.egg-info/

# IDEs and editors
.vscode/
.idea/
*.swp
.tox/
.nox/
.coverage
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/
